<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>게시글 수정하기</title>
    <script>
        function validateForm() {
            var title = document.getElementById("title").value;
            var content = document.getElementById("content").value;
            var imageFileElement = document.getElementById("imageFile");
            var imageFile = imageFileElement.files.length > 0 ? imageFileElement.files[0] : null;
            var validImageTypes = ["image/jpeg", "image/png", "image/jpg"];

            if (title.trim().length === 0) {
                toastWarning("제목을 입력해주세요.");
                return false;
            }

            if (content.trim().length === 0) {
                toastWarning("내용을 입력해주세요.");
                return false;
            }
            if (title.length > 20) {
                toastWarning("제목은 20자를 초과할 수 없습니다.");
                return false;
            }

            if (imageFile) {
                var fileType = imageFile["type"];
                if (!validImageTypes.includes(fileType)) {
                    toastr.warning("첨부된 파일이 이미지 타입이 아닙니다.");
                    return false;
                }
            }

            return true;
        }

        $(document).ready(function () {
            $('#content').on('keyup', function () {
                $('#contentCount').html("(" + $(this).val().length + " / 200)");

                if ($(this).val().length > 200) {
                    toastWarning("내용은 최대 200자까지 작성 가능합니다.");
                    $(this).val($(this).val().substring(0, 200));
                    $('#contentCount').html("(200 / 200)");
                }
            });
        });
    </script>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-pen-to-square"></i>
            게시글 수정하기
        </h1>
        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <br>
                    <form th:action="@{/usr/article/modify/{id}(id=${article.id})}" th:object="${article}" method="post"
                          enctype="multipart/form-data" onsubmit="return validateForm()">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                                제목
                            </label>
                            <input class="input input-bordered w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                   id="title" type="text" th:field="*{title}" placeholder="Title">
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="content">
                                내용
                            </label>
                            <div class="relative">
                                <textarea
                                        class="textarea textarea-bordered w-full h-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        id="content" th:field="*{content}" placeholder="Content"></textarea>
                                <div id="contentCount" class="absolute right-5 bottom-5">(0 / 200)</div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="imageFile">
                                이미지 업로드
                            </label>
                            <input type="file" id="imageFile" name="imageFile"
                                   class="file-input file-input-bordered file-input-accent w-full max-w-xs">
                        </div>
                        <div th:if="${article.image != null}" class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="currentImage">
                                현재 이미지
                            </label>
                            <img id="currentImage" th:src="@{${article.image.filepath}}" alt="Article Image"
                                 class="w-full rounded-md">
                        </div>
                        <div class="mb-4 flex justify-end">
                            <button class="btn btn-primary" type="submit">
                                수정
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
