<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">
<head>
  <title>Modify an Article</title>
</head>
<body>
<div layout:fragment="content">
  <div class="max-w-md mx-auto">
    <form th:action="@{/usr/article/modify/{id}(id=${article.id})}" th:object="${article}" method="post" enctype="multipart/form-data">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input class="shadow appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" th:field="*{title}" placeholder="Title">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="content">
          Content
        </label>
        <textarea class="shadow appearance-none border border-gray-400 rounded w-full h-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="content" th:field="*{content}" placeholder="Content"></textarea>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="imageFile">
          Upload Image
        </label>
        <input type="file" id="imageFile" name="imageFile" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
      </div>
      <div th:if="${article.image != null}" class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="currentImage">
          Current Image
        </label>
        <img id="currentImage" th:src="@{${article.image.filepath}}" alt="Article Image" class="w-full rounded-md">
      </div>
      <div class="mb-4">
        <button class="hover:bg-gray-300 text-black font-bold py-2 px-4 rounded border border-gray-400" type="submit">
          수정
        </button>
      </div>
    </form>
  </div>
</div>
</body>
</html>

