<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>오늘의 코디</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-list"></i>
            내 게시글
        </h1>
        <div>
            <div class="flex">
                <span class="mr-2">가장 많이 이용한 태그: </span>
                <span class="mr-1" th:each="tag : ${mostUsedTags}" th:text="'#'+${tag}"></span>
            </div>
        </div>
        <div class="flex flex-col gap-4 mt-4">
            <div th:if="${@rq.isLogin}" class="card bg-base-100 shadow-xl max-w-2xl w-full px-4">
                <h2 class="card-title flex items-center mt-4">
                    <a href="/usr/article/mylist">
                        <i class="fa-solid fa-list"></i>
                        <span class="text-2xl">나의 게시물</span>
                    </a>
                </h2>
                <br>
                <br>
                <div class="flex flex-wrap gap-4">
                    <div th:each="article : ${myArticles}" class="rounded overflow-hidden shadow-lg">
                        <a th:href="@{/usr/article/detail/{id}(id=${article.id})}">
                            <img th:src="${article.image != null ? article.image.filepath : '/images/default.png'}"
                                 class="w-full h-32 object-cover"/>
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2 truncate"
                                     th:text="${article.getWeatherInfo()}"></div>
                                <span th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd')}"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</main>
</body>
</html>
