<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>게시글 작성하기</title>
    <script>

        function validateForm() {
            var title = document.getElementById("title").value;
            //날짜 선택하는 기능
            // var customDate = document.getElementById("customDate").value;
            var content = document.getElementById("content").value;
            var imageFile = document.getElementById("imageFile").value;

            if (title.trim().length === 0) {
                toastr.warning("제목을 입력해주세요.");
                return false;
            }
            //날짜 선택하는 기능
            // if (customDate.trim().length === 0) {
            //     toastr.warning("널짜를 선택해주세요.");
            //     return false;
            // }

            if (content.trim().length === 0) {
                toastr.warning("내용을 입력해주세요.");
                return false;
            }

            if (imageFile.trim().length === 0) {
                toastr.warning("파일을 첨부해주세요.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-pen-to-square"></i>
            게시글 작성하기
        </h1>
        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <br>
                    <form th:action="@{/usr/article/writepro}" method="post" encType="multipart/form-data"
                          onSubmit="return validateForm()">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" htmlFor="title">
                                제목
                            </label>
                            <input class="input input-bordered w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                   id="title" type="text" placeholder="Title" name="title">
                        </div>
                        <!--날짜 선택하는 기능-->
<!--                        <div class="mb-4">-->
<!--                            <label class="block text-gray-700 text-sm font-bold mb-2" htmlFor="customDate">-->
<!--                                날짜-->
<!--                            </label>-->
<!--                            <input type="date" id="customDate" name="customDate" max="${currentDate}">-->
<!--                        </div>-->
                        <div>

                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" htmlFor="content">
                                내용
                            </label>
                            <textarea
                                    class="textarea textarea-bordered w-full h-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="content" placeholder="Content" name="content"></textarea>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" htmlFor="imageFile">
                                이미지 업로드
                            </label>
                            <input type="file" id="imageFile" name="imageFile"
                                   class="file-input file-input-bordered file-input-accent w-full max-w-xs">
                        </div>
                        <div class="mb-4 flex justify-end">
                            <button class="btn btn-primary hover:bg-gray-300" type="submit">
                                작성
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
