<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">
<head>
  <title>Write an Article</title>
  <script>

    function validateForm() {
      var title = document.getElementById("title").value;
      var content = document.getElementById("content").value;
      var imageFile = document.getElementById("imageFile").value;

      if (title.trim().length === 0) {
        toastr.warning("제목을 입력해주세요.");
        return false;
      }

      if (content.trim().length === 0) {
        toastr.warning("내용을 입력해주세요.");
        return false;
      }

      if (imageFile.trim().length === 0) {
        toastr.warning("파일을 첨부해주세요.");
        return false;
      }

      return true;
    }
  </script>
</head>
<body>
<div layout:fragment="content">
  <div class="max-w-md mx-auto">
    <form th:action="@{/usr/article/writepro}" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input class="shadow appearance-none border rounded border-gray-400 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" placeholder="Title" name="title">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="content">
          Content
        </label>
        <textarea class="shadow appearance-none border rounded border-gray-400 w-full h-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="content" placeholder="Content" name="content"></textarea>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="imageFile">
          Upload Image
        </label>
        <input type="file" id="imageFile" name="imageFile" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
      </div>
      <div class="mb-4">
        <button class="hover:bg-gray-300 text-black font-bold py-2 px-4 rounded border border-gray-400" type="submit">
          작성
        </button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
