<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="#{c.logoText}"></title>
    <style>
        #updateButton {
            position: relative;
            padding: 8px 16px;
            outline: none;
            border-radius: 20px;
            cursor: pointer;
        }

        #updateButton:active {
            background: hsl(var(--pf));
        }

        .button__text {
            transition: all 0.2s;
        }

        .button--loading .button__text {
            visibility: hidden;
            opacity: 0;
        }

        .button--loading::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 4px solid transparent;
            border-top-color: hsl(var(--pf));
            border-radius: 50%;
            animation: button-loading-spinner 1s ease infinite;
        }

        @keyframes button-loading-spinner {
            from {
                transform: rotate(0turn);
            }
            to {
                transform: rotate(1turn);
            }
        }

    </style>
    <script>
        function handleButtonClick(button) {
            if (!button.classList.contains('button--loading')) {
                button.classList.add('button--loading');
                button.disabled = true;
                getLocationAndSubmit();
            }
        }

        function getLocationAndSubmit() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    sendLocationToServer(position);
                    submitForm();
                }, function (error) {
                    console.log('위치 정보 가져오기 실패:', error.message);
                });
            } else {
                console.log('연결 안됨. 위치 정보 제공 동의 필요');
            }
        }

        function sendLocationToServer(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            const form = document.getElementById('locationDTO');
            form.latitude.value = latitude;
            form.longitude.value = longitude;
        }

        function submitForm() {
            const form = document.getElementById('locationDTO');
            form.submit();
        }

    </script>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center ">

    <div class="max-w-2xl w-full px-4">
        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="flex justify-center">
                    <div class="mt-2 px-4 mt-4">
                        <div class="flex justify-between">
                            <div class="flex flex-col">
                                <div class="card-title flex items-center">
                                    <span class="text-3xl" th:text="${@rq.getCurrentDate}"></span>
                                    <span class="text-3xl" th:text="${@rq.getWeatherInfo}"></span>
                                </div>
                                <div class="card-title flex items-center">
                                    <span class="text-xl" th:text="${@rq.getAddress}"></span>
                                    <div>
                                        <form id="locationDTO" th:action="@{/usr/location/update/main}" class="mb-0"
                                              method="post">
                                            <button id="updateButton" type="button"
                                                    class="button bg-white border border-primary text-primary hover:bg-primary hover:text-white"
                                                    onclick="handleButtonClick(this);">
                                                <span class="button__text text-xl">Update</span>
                                                <input type="hidden" name="latitude" th:value="${latitude}">
                                                <input type="hidden" name="longitude" th:value="${longitude}">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <th:block th:if="${@rq.hasHighTemperatureDifference()}">
                    <span>일교차가 큰 날이니 겉옷을 챙기시는게 좋아요!</span>
                </th:block>
                <span th:if="${@rq.hasHighTemperatureDifference()}" th:text="일교차가 큰 날이니 겉옷을 챙기시는게 좋아요!"></span>
                <br>
            </div>
        </div>

        <div class="my-4"></div>

        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">
                    <a href="/usr/article/todayList">
                        <th:block th:utext="#{c.iconTodayList}"></th:block>
                        <span th:text="#{c.pageNameTodayList}"></span>
                    </a>
                </h2>
                <div class="max-w-3xl py-6 px-4">
                    <section th:fragment="articleListFragment" class="flex justify-center">
                        <div id="articleList">
                            <div th:if="${@rq.isLogout()}">
                                <div class="flex flex-col gap-4">
                                    <div th:each="article : ${articleList}"
                                         class="rounded overflow-hidden shadow-lg px-4 py-6 my-4">
                                        <a th:href="@{/usr/article/detail/{id}(id=${article.id})}">
                                            <img th:src="${article.image != null ? article.image.filepath : '/images/default.png'}"
                                                 class="w-30 object-contain"/>
                                            <div class="article-Status flex flex-col justify-around">
                                                <div class="font-bold text-xl my-2 truncate"
                                                     th:text="${article.getWeatherInfo()}"></div>
                                                <div class="like-display badge badge-lg my-2">
                                                    <span class="heart-icon text-red-500 mr-1">💕</span>
                                                    <span th:text="${article.getLikedMembers().size()}"></span>
                                                </div>
                                                <div class="font-bold text-xl truncate" th:text="${article.getWeatherInfo()}"></div>
                                                <div class="like-display badge badge-lg badge-ghost">
                                                    <div th:text="${#numbers.formatDecimal(@articleService.getDistanceBetweenUser(article), 1, 1)} + 'km'"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${@rq.isLogin()}">
                                <div class="flex flex-col items-center gap-4">
                                    <div th:each="article : ${articleList}"
                                         class="rounded overflow-hidden shadow-lg px-4 py-6 my-4">
                                        <a th:href="@{/usr/article/detail/{id}(id=${article.id})}">
                                            <img th:src="${article.image != null ? article.image.filepath : '/images/default.png'}"
                                                 class="w-30 object-contain"/>
                                            <div class="flex items-center justify-between mt-4">
                                                <div class="like-display badge badge-lg badge-ghost">
                                                    <span class="heart-icon text-red-500 mr-1">💕</span>
                                                    <span th:text="${article.getLikedMembers().size()}"></span>
                                                </div>
                                                <div class="font-bold text-xl truncate" th:text="${article.getWeatherInfo()}"></div>
                                                <div class="like-display badge badge-lg badge-ghost">
                                                    <div th:text="${#numbers.formatDecimal(@articleService.getDistanceBetweenUser(article), 1, 1)} + 'km'"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var page = 0;
        var size = 5;
        var hasNextPage = [[${articleList.hasNext()}]];
        var loading = false; // 동시에 여러 개의 요청을 방지하기 위한 플래그

        function loadMoreArticles() {
            if (hasNextPage && !loading) {
                page++;
                loading = true; // 로딩 중임을 나타내는 플래그를 true로 설정

                $.ajax({
                    url: "/main/list",
                    method: "GET",
                    data: {page: page, size: size},
                    success: function (data) {
                        // 요청이 성공했을 때 실행할 로직
                        if (data.trim().length > 0 && data != null) {
                            $("#articleList").append(data);
                            hasNextPage = true;
                        } else {
                            hasNextPage = false;
                            // 더 이상 게시물이 없음을 표시하는 로직 추가
                            $("#articleList").append("<p>더 이상 게시물이 없습니다.</p>");
                        }

                        loading = false; // 로딩 완료
                    },
                    //500에러 뜨면 여기로 옴.
                    error: function (error) {
                        // 요청이 실패했을 때 실행할 로직
                        console.log("AJAX 요청 실패:", error);
                        hasNextPage = false;
                        loading = false; // 로딩 완료
                        $("#articleList").append("<div class='flex flex-col text-2xl justify-center items-center mt-4'> 리스트의 끝입니다. " +
                            "<div class='text-2xl my-4'> 새로운 글을 작성해주세요 </div>" +
                            "<div class=\"mt-4\">\n" +
                            "                            <a href=\"/usr/article/write\">\n" +
                            "                                <button class=\"btn btn-primary\">새 글 작성</button>\n" +
                            "                            </a>\n" +
                            "                        </div>" +
                            "" +
                            "</div>");
                    }
                });
            }
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                loadMoreArticles();
            }
        });


    </script>
</main>
</body>

</html>
