<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>

    <script>
        function showLoadingSpinner() {
            var spinner = document.getElementById('loadingSpinner');
            spinner.style.display = 'block';
        }

        function hideLoadingSpinner() {
            var spinner = document.getElementById('loadingSpinner');
            spinner.style.display = 'none';
        }

        function getLocationAndSubmit() {
            if (navigator.geolocation) {
                showLoadingSpinner();
                navigator.geolocation.getCurrentPosition(function (position) {
                    sendLocationToServer(position);
                    submitForm();
                }, function (error) {
                    hideLoadingSpinner();
                    console.log('위치 정보 가져오기 실패:', error.message);
                });
            } else {
                console.log('연결 안됨. 위치 정보 제공 동의 필요');
            }
        }

        function sendLocationToServer(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            var form = document.getElementById('regionDTO');
            form.latitude.value = latitude;
            form.longitude.value = longitude;
        }

        function submitForm() {
            var form = document.getElementById('regionDTO');
            form.submit();
        }
    </script>
</head>

<body>
<main layout:fragment="main" className="flex-grow flex items-center justify-center ">

    <div th:if="${@rq.isLogin}" class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-user"></i>
            내 정보
        </h1>

        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-user"></i>
                        내 정보
                    </h2>

                    <div class="mt-4">
                        <div>
                            <i class="fa-solid fa-user-tag"></i>
                            닉네임
                        </div>
                        <div class="mt-2">
                            <span class="badge badge-primary" th:text="${@rq.member.nickname}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <i class="fa-solid fa-person-half-dress"></i>
                            성별
                        </div>
                        <div class="mt-2">
                            <span class="badge badge-primary" th:text="${@rq.member.gender}"></span>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div>
                            <i class="fa-solid fa-location-dot"></i>
                            현재 위치
                        </div>
                        <div>
                            <form id="regionDTO" th:action="@{/usr/location/save}" method="post">
                                <span th:text="${@rq.getAddress()}"></span>
                                <input type="hidden" name="latitude" th:value="${latitude}">
                                <input type="hidden" name="longitude" th:value="${longitude}">
                                <button id="submitButton" type="button" class="btn btn-outline btn-secondary"
                                        onClick="getLocationAndSubmit()">업데이트
                                </button>
                                <div id="loadingSpinner">
                                    <div class="lds-roller">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div>
                            <i class="fa-solid fa-temperature-low"></i>
                            현재 날씨 :
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="/usr/member/pop" class="mt-10 mb-4 block">
            <i class="fa-solid fa-chart-line"></i>
            내 게시글

            <span class="float-right text-sm">
                <i class="fa-solid fa-angles-right"></i>
                자세히 보기
            </span>
        </a>


    </div>

</main>
</body>

</html>
